h2 {
    font-size: 30px;
    background-color: #ff0000;
    color: #ddd;
  }
  
.carousel-item {
    transition: transform 1s ease-in-out;
    display: inline-block;
    animation: carouselAnimation 10s infinite linear;
  }
  
  .carousel-inner {
    white-space: nowrap;
    overflow-x: hidden;
  }
  
  .carousel-inner img {
    width: 150px;
    height: 200px;
  }
  
  .carousel-inner img:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
  
  @keyframes carouselAnimation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-150%);
    }
  }